<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23399277127-s5nqs2td79ktrqrqb10j74t5tiqbhn4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23399277127-s5nqs2td79ktrqrqb10j74t5tiqbhn4v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>23399277127-f7r5bcqufcen7dj250cg8soqm0mimdql.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFx4bJ3F3mwdjW7cE63rE-vV7lVOqW7iI</string>
	<key>GCM_SENDER_ID</key>
	<string>23399277127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-login-83aeb</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-login-83aeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23399277127:ios:fd6db78f7d3c632390c762</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-firebase-login-83aeb.firebaseio.com</string>
</dict>
</plist>